body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0;
display: flex;
flex-direction: column;
}


.first-section{
  display: flex;
flex-direction: column;
gap: 8px;
background: #1F2937;
padding: 64px;
justify-content: space-between;

}
.top-header{
  display: flex;
  justify-content: space-between;
}
.header-logo{
  font-size: 24px;
  color: #F9FAF8;
}

.header-left, .header-right{
  display: flex;
  gap: 16px;
  align-items: center;

}
.title{
  display: flex;
}
.main-heading{
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

ul{
  list-style-type: none;
}

a, .small-heading {
  font-size: 18px;
  color: #E5E7EB;
}
.first-button {
  background: #3882F6;
  border-radius: 8px;
  border: 2px solid #3882F6;
}
/* Second Section*/

 
 .container-box{
   display: flex;
   justify-content: center;
   gap: 64px;  
 }
 .customize{
  text-align: center;
}

.info{
  max-width: 200px;
 
}
 .box{
  border: 2px solid #3882F6;
  border-radius: 12px;
  height: 160px;
  width: 160px;
 }

 .text{
   max-width: 160px;
   text-align: justify;
   color: #1F2937;
 }
 
.third-section{  
  background: #E7E5EB;      
  font-size: 18px;
  color: #1F2937;
  height: 350px;     
}    
 
  /* Forth Section */
  .fourth-section{
    display: flex;
    align-items: center;
    justify-content: center;     
    /* margin-top: 150px;
    margin-bottom: 150px;    */
    height: 300px;
  }
  .background{  
    display: flex;
    justify-content: space-between; 
    background: #3882F6;
   width: 700px;
  height: 100px;
  border-radius: 16px;
  color: #F9FAF8;
  padding-right: 64px;
  padding-left: 64px;
    }

  .call{
    font-weight: bold;
  }  

  .right-button{
    background: #3882F6;
    color:  #F9FAF8;
    border: 1px solid #F9FAF8;
    border-radius: 5px;
    font-weight: bold;
  }

  /* footer */
  .footer{
    background:#1F2937;
    padding-top: 16px;
    padding-bottom:  16px;
    text-align: center; 
    color: #E5E7EB;   
  }
  /* .call-to-action{
    color: #F9FAF8;
  }
  */
  