body{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0;
}

body, .fourth-section, .background, .first-section, .top-header, .header-left, .header-right,  .container-box, .title{
  display: flex;
}

body, .fourth-section, .first-section{
flex-direction: column;
}

.first-section, .top-header{
  justify-content: space-between;
}

.first-section{
gap: 8px;
background: #1F2937;
padding: 64px;
}

.header-logo{
  font-size: 24px;
  }

.header-left, .header-right{  
  gap: 16px;
}

.main-heading{
  font-size: 48px;
  font-weight: 600px;
}
.header-logo, .main-heading{
  color: #F9FAF8;  
}

ul{
  list-style-type: none;
}

a, .small-heading {
  font-size: 18px;
  color: #E5E7EB;
}
.first-button {
    border-radius: 8px;
  border: 2px solid #3882F6;
}

img{
  max-width: 100%;
  height: auto;
}
/* Second Section*/ 
 .container-box{
  justify-content: center;
   gap: 64px; 
   flex-wrap: wrap; 
 }
 .customize{
  text-align: center;
}

.info{
  max-width: 200px;
 
}
 .box{
  border: 2px solid #3882F6;
  border-radius: 12px;
  height: 160px;
  width: 160px;
 }

 .text{
   max-width: 160px;
   text-align: justify;
   color: #1F2937;
 }
 
.third-section{  
  background: #E7E5EB;      
  font-size: 18px;
  color: #1F2937;
  max-height: auto;
  max-width: 100%;   
  padding-left: 400px;
  padding-right: 400px;    
  padding-top: 60px;
  padding-bottom: 60px;
} 
.cite { 
  padding-left: 300px;  
}

 
  /* Forth Section */
  .fourth-section, .background{      
    align-items: center;
        
  }
  .fourth-section{
    height: 300px;
    justify-content: center;
    }

  .background{    
    column-gap: 32px;    
  border-radius: 16px;  
  padding-right: 48px;
  padding-left: 48px;
  }
  .call{
    font-weight: bold;
  } 
  .background, .first-button, .right-button{
    color: #F9FAF8;
    background: #3882F6;

  } 

  .right-button{    
    border: 1px solid #F9FAF8;
    border-radius: 5px;
    font-weight: bold;     
  }

  /* footer */
  .footer{
    background:#1F2937;
    padding-top: 16px;
    padding-bottom:  16px;
    text-align: center; 
    color: #E5E7EB;   
  }
  
  